body {
    padding: 0px;
    margin: 0px;
    color: #484848;
    font-family: Circular, "Helvetica Neue", Helvetica, Arial, sans-serif;
    box-sizing: border-box;

}

.container {
    max-width: 1000px;
    margin: 30px auto;
}

@media (max-width: 1049px) {}